.bob-container {
    .bob {
        .answer {
            width: 105%;
            position: relative;
            margin: 0.2em 0;
            transform: translateX(-0.8em);
            box-sizing: border-box;
            padding: 0.8em 0.8em;
            border-radius: 0.35em;
            font-size: 0.8em;
            transition: 0.25s all cubic-bezier(0, 0, 0.2, 1);
            background: #fbd46d;
            color: black;
            border: 1px solid rgb(182, 182, 182);
            box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
            p {
                margin: 0.2em 0;
            }
            pre {
                margin: 0.2em 0;
            }
            &:hover {
                box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132), 0 1.2px 3.6px 0 rgba(0,0,0,.108);
                .taskbar {
                    visibility: visible;
                    opacity: 0.75;
                }
            }
            &.foc {
                background: #ffcb74;
                box-shadow: none;
                //border: 1px solid rgb(230, 230, 230);
            }
            
            .answer-text {
                display: block;
                box-sizing: border-box;
                line-height: 1.2;
                white-space: pre-wrap;
                overflow-wrap: break-word;
                max-width: 100%;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                word-wrap: break-word;
                button {
                    min-width: 0;
                    padding: 0;
                    display: inline;
                    border: none;
                    font-family: inherit;
                    font-size: inherit;
                    background: transparent;
                    font-weight: inherit;
                    text-transform: none;
                    letter-spacing: unset;
                    color: #1976d2;
                    margin: 0;
                }
            }
            .click-url {
                position: absolute;
                right: 0.5em;
                bottom: 0.2em;
                display: inline-block;
                margin: 0.2em 0 auto auto;
                min-width: 0;
                padding: 0.2em;
                box-shadow: none;
                text-transform: none;
                font-family: 'Nunito', sans-serif;
                letter-spacing: 0;
                color: #2979ff;
            }
            .help-info-enter {
                opacity: 0;
                transform: translateY(4em);
            }

            .help-info-enter-active {
                opacity: 1;
                transform: none;
                transition: 0.25s all cubic-bezier(0, 0, 0.2, 1);
            }

            .help-info-exit {
                opacity: 1;
                transform: none;
            }

            .help-info-exit-active {
                opacity: 0;
                transform: translateY(4em);
                transition: 0.25s all cubic-bezier(0, 0, 0.2, 1);
            }

            .help-info {
                z-index: 100;
                position: absolute;
                top: -3em;
                right: 50%;
                transform: translateX(50%);
                box-sizing: border-box;
                color: whitesmoke;
                background: #43a047;
                border-radius: 0.5em;
                padding: 1em;
                box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
                text-align: center;
                font-size: 0.8em;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -0.5em;
                    left: 50%;
                    transform: translateX(-50%);
                    border-top: 0.5em solid #43a047;
                    border-right: 0.8em solid transparent;
                    border-left: 0.8em solid transparent;
                }
            }
            .taskbar {
                position: absolute;
                left: 0.5em;
                top: -1.5em;
                //width: 100%;
                text-align: right;
                box-sizing: border-box;
                border-radius: 0.2em;
                border: 1px solid grey;
                padding: 0em 0.5em;
                z-index: 100;
                background: #f2f2f2;
                visibility: hidden;
                opacity: 0;
                transition: 0.25s all cubic-bezier(0, 0, 0.4, 1);
                .pin, .pinned {
                    min-width: 0;
                    padding: 0.2em;
                    margin: 0.2em;
                    border-radius: 50%;
                    //background: #fff8e1;
                    svg {
                        stroke-width: 1px;
                        width: 1.3em;
                        height: 1.3em;
                        transition: 0.25s all cubic-bezier(0, 0, 0.4, 1);
                    }
                    &.pin {
                        svg {
                            stroke-width: 2px;
                        }
                    }
                }
                .open-next-to {
                    min-width: 0;
                    padding: 0.2em;
                    border-radius: 50%;
                    //background: white;
                    svg {
                        color: #424242;
                        width: 1.3em;
                        height: 1.3em;
                        stroke-width: 1px;
                        transition: 0.25s all cubic-bezier(0, 0, 0.4, 1);
                    }
                    &.clicked {
                        svg {
                            stroke-width: 2px;
                        }
                    }
                }
            }
            &.pinned {
                background: #fffde7;
                &:hover {
                    background: #fffde7;
                }
            }
        }
        .rating {
            overflow-wrap: break-word;
            .rating-stars {
                display: block;
                text-align: right;
                float: right;
                padding: 0 !important;
                width: 100%;
            }
            i {
                vertical-align: middle;
                padding: 0.05em;
                margin: 0.05em;
                color: #212121;
                svg {
                    font-size: 1.5em;
                    stroke-width: 1px;
                }
                &.off {
                    opacity: 0.5;
                }
                &.on {
                    opacity: 1;
                    svg {
                        color: #e7305b;
                        fill: #e7305b;
                    }
                }
            }
        }
    }
}