@keyframes hints-appear {
    0% {opacity: 0; transform: translateY(2em)}
    100% {opacity: 1; transform: none;}
}

@keyframes help-appear {
    0% {opacity: 0; transform: translateY(2em), translateX(50%);}
    25% {opacity: 1; transform: translateX(50%); }
    75% {opacity: 1; transform: translateX(50%); }
    100% {opacity: 0; transform: translateY(2em), translateX(50%);}
}

@keyframes chat-appear {
    0% {opacity: 0; transform: translateY(2em)}
    100% {opacity: 1; transform: none;}
}

@keyframes hinting {
    0% {border: 10px solid #bbdefb}
    100% {border: 1px solid transparent}
}

.bob-container {
    .bob {
        .ask {
            height: calc(500px - 2.5em);
            display: flex;
            flex-direction: column;
            justify-content: end;
            width: 100%;
            .new-chat {
                position: relative;
                right: 0;
                display: flex;
                flex-direction: row;
                box-sizing: border-box;
                padding: 0.1em 0.25em 0.1em;
                margin: 0 0.5em 0.3em 0.5em;
                border: 1px solid rgb(231, 231, 231);
                justify-content: space-evenly;
                border-radius: 1.5em;
                transition: 0.25s all cubic-bezier(0, 0, 0.2, 1);
                &.focus {
                    border: 1px solid #75a7ff;
                }
                textarea {
                    position: relative;
                    margin: 0 0.3em;
                    display: block;
                    width: 85%;
                    box-sizing: border-box;
                    padding: 0.5em 1em;
                    outline: none;
                    font: {
                        family: 'Nunito', sans-serif;
                        size: 0.8em;
                    }
                    border-radius: 1.5em;
                    resize: unset;
                    border: none;
                    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
                    line-height: 1.6;
                }
                button {
                    position: relative;
                    bottom: 0;
                    min-width: 0;
                    border-radius: 50%;
                    
                    display: block;
                    margin: auto 0;
                    padding: 0.5em;
                    animation: none;
                    span {
                        display: block;
                    }
                    img {
                        display: block;
                        margin: auto;
                        height: 1.5em;
                        filter: drop-shadow(0.05rem 0.05rem 0.1rem rgba(0, 0, 0,0.4));
                        animation: none;
                    }
                    &.show-hints {
                        //background: #bbdefb;
                        position: relative;
                        transition: 0.35s all cubic-bezier(0, 0, 0.2, 1);
        
                        &.not-show {
                            background: white;
                            img {
                                filter: grayscale(100%);
                            }
                        }
                        &.hinting {
                            //background: linear-gradient()
                            background: #bbdefb
                            
                        }
                    }
                }
                .question-hints {
                    position: absolute;
                    z-index: 10;
                    bottom: 3.6em;
                    width: 100%;
                    left: 0;
                    background: white;
                    box-shadow: 0 25.6px 57.6px 0 rgba(0,0,0,.22), 0 4.8px 14.4px 0 rgba(0,0,0,.18);
                    box-sizing: border-box;
                    padding: 0.5em 0.5em;
                    border-radius: 1em;
                    animation: hints-appear 0.35s cubic-bezier(0, 0, 0.2, 1);
                    transition: 0.2s all cubic-bezier(0, 0, 0.2, 1);
                    .hint {
                        font-size: 0.7em;
                        line-height: 1.5;
                        box-sizing: border-box;
                        padding: 0.2em 0.5em;
                        border-radius: 0.5em;
                        border:1px solid transparent;
                        transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
                        span {
                            //display: inline-block;
                            //box-sizing: border-box;
                            padding: 0.2em;
                            &.similarity-score {
                                color: #00c853;
                            }
                        }
                        &.focus {
                            background: #e3f2fd;
                            color: #2962ff;
                        }
                        &.auto-complete {
                            border:1px solid lightgrey;
                        }
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        left: 1em;
                        width: 0;
                        height: 0;
                        bottom: -0.6em;
                        border-left: solid 0.25em transparent;
                        border-right: solid 1.5em transparent;
                        border-top: solid 0.6em white;
                        //box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132), 0 1.2px 3.6px 0 rgba(0,0,0,.108);
                    }
                }
            }
            .old-chats {
                display: block;
                position: relative;
                box-sizing: border-box;
                padding: 0.5em 0.5em;
                height: 100%;
                overflow-y: scroll;
                scrollbar-color: rgb(209, 209, 209) transparent;;
                scrollbar-width: 5px;
                &::-webkit-scrollbar {
                    width: 5px;
                }
                &::-webkit-scrollbar-track {
                    background: transparent !important;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgb(209, 209, 209);
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: #6b6b6b;
                }   
                .is-typing {
                    float: right;
                    box-sizing: border-box;
                    padding: 0 1.5em;
                }
                
                .chat-segment {
                    position: relative;
                    margin: 0em 0 1em 0;
                    display: flex;
                    flex-direction: row;
                    .user {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    .content {
                        max-width: calc(100% - 1em);
                    }
                    .chat, .rating, .related-questions {
                        position: relative;
                        box-sizing: border-box;
                        margin: 0.15em 0;
                        span {
                            border: 1px solid transparent;
                            padding: 0.35em 1em;
                            border-radius: 0.25em;
                            font-size: 0.8em;
                            max-width: 75%;
                            overflow-wrap: break-word;
                            transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
                            line-height: 1.25;
                            animation: chat-appear 0.25s cubic-bezier(0, 0, 0.2, 1);
                        }
                        .text {
                            display: inline-block;
                            img {
                                height: 1.25em;
                                vertical-align: middle;
                                margin-right: 0.5em;
                            }
                            &:hover + .time {
                                display: block;
                            }
                        }
                        .time {
                            position: absolute;
                            top: -2.8em;
                            display: none;
                            border-radius: 0.25em;
                            border-color: lightgrey;
                            color: whitesmoke;
                            background: #424242;
                        }
                    }
                    .answer {
                        width: 105%;
                        position: relative;
                        margin: 1em 0;
                        transform: translateX(-1em);
                        box-sizing: border-box;
                        padding: 0.5em 1.5em 0.5em 0.8em;
                        border-radius: 0.8em;
                        font-size: 0.8em;
                        transition: 0.25s all cubic-bezier(0, 0, 0.2, 1);
                        background: white;
                        color: #424242;
                        border: 1px solid transparent;
                        box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
                        p {
                            margin: 0.2em 0;
                        }
                        pre {
                            margin: 0.2em 0;
                        }
                        &:hover {
                            box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132), 0 1.2px 3.6px 0 rgba(0,0,0,.108);
                        }
                        &.foc {
                            background: rgb(250, 250, 250);
                            box-shadow: none;
                            border: 1px solid rgb(230, 230, 230);
                        }
                        .answer-text {
                            display: block;
                            box-sizing: border-box;
                            line-height: 1.2;
                            white-space: pre-wrap;
                            overflow-wrap: break-word;
                            max-width: 100%;
                        }
                        .click-url {
                            position: absolute;
                            right: 0.5em;
                            bottom: 0.2em;
                            display: inline-block;
                            margin: 0.2em 0 auto auto;
                            min-width: 0;
                            padding: 0.2em;
                            box-shadow: none;
                            text-transform: none;
                            font-family: 'Nunito', sans-serif;
                            letter-spacing: 0;
                            color: #2979ff;
                        }
                        .help-info {
                            position: absolute;
                            top: -3em;
                            right: 50%;
                            transform: translateX(50%);
                            box-sizing: border-box;
                            color: whitesmoke;
                            background: #43a047;
                            border-radius: 0.5em;
                            padding: 1em;
                            animation: help-appear 1.2s cubic-bezier(0, 0, 0.2, 1);
                            box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
                            &:after {
                                content: '';
                                position: absolute;
                                bottom: -0.5em;
                                left: 50%;
                                transform: translateX(-50%);
                                border-top: 0.5em solid #43a047;
                                border-right: 0.8em solid transparent;
                                border-left: 0.8em solid transparent;
                            }
                        }
                        .taskbar {
                            position: absolute;
                            right: 0em;
                            top: 0em;
                            width: 100%;
                            text-align: right;
                            .pin, .pinned {
                                min-width: 0;
                                padding: 0.2em;
                                margin: 0.2em 0.2em;
                                border-radius: 50%;
                                background: #fff8e1;
                                img {
                                    height: 1.2em;
                                }
                                &.pin {
                                    background: white;
                                    img {
                                        filter: grayscale(100%);
                                    }
                                }
                            }
                        }
                        &.pinned {
                            background: #fffde7;
                            &:hover {
                                background: #fffde7;
                            }
                        }
                    }
                    .rating {
                        overflow-wrap: break-word;
                        margin: 0.25em 0;
                        .rating-stars {
                            display: inline-block;
                            padding: 0;
                        }
                        i {
                            vertical-align: middle;
                            padding: 0.05em;
                            margin: 0.05em;
                            color: #424242;
                            svg {
                                font-size: 1em;
                            }
                            &.off {
                                opacity: 0.5;
                            }
                            &.on {
                                opacity: 1;
                                color: #00c853;
                            }
                        }
                    }
                    &.me {
                        .chat {
                            .text {
                                background: whitesmoke;
                                border-bottom-right-radius: 1.2em;
                                border-top-right-radius: 1.2em;  
                                margin-bottom: 0.5em;
                            }
                            &:first-child {
                                .text {
                                    border-top-left-radius: 1.2em;
                                }
                            }
                            &:last-child {
                                .text {
                                    border-bottom-left-radius: 1.2em;
                                    
                                }
                            }
                        } 
                    }
                    &:not(.me) {
                        position: relative;
                        display: flex;
                        flex-direction: row-reverse;
                        .user {
                            position: absolute;
                            top: -2em;
                            right: 0em;
                            color:#424242;
                            width: 100%;
                            text-align: right;
                            opacity: 0.5;
                            span {
                                vertical-align: middle;
                                font-size: 0.7em;
                                margin: 0 0.5em;
                            }
                            img {
                                vertical-align: middle;
                                height: 1.8em;
                                padding: 0;
                                background: linear-gradient(to bottom, #448aff 0%, #2962ff 100%);
                                border-radius: 50%;
                            }
                        }
                        .chat, .rating, .related-questions {
                            text-align: right;
                            .text {
                                background: inherit;
                                //border: 1px solid lightgrey;
                                border-bottom-left-radius: 1.2em;
                                border-top-left-radius: 1.2em;
                                background: #ffd180;
                                color: #212121;
                            }
                            .time {
                                right: 0;
                            }
                            .rel {
                                background: rgb(250, 250, 250);
                            }
                            .rel-q {
                                margin: 0.15em 0;
                                .text {
                                    border-radius: 1.2em;
                                    line-height: 1.25;
                                    font-size: 0.8em;
                                    box-shadow: none;
                                    background: transparent;
                                    color: #212121;
                                    border: 1px solid rgb(231, 231, 231);
                                    border-radius: 0.5em;
                                    border-top-right-radius: 0.5em;
                                    border-bottom-right-radius: 0.5em !important;
                                    a {
                                        color: #424242;
                                    }
                                }
                                img {
                                    margin: 0 0.2em;
                                    width: 0.8em;
                                }
                            }
                            &:first-child {
                                .text {
                                    border-top-right-radius: 1.2em;
                                }
                            }
                            &:last-child {
                                .text {
                                    border-bottom-right-radius: 1.2em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}