@keyframes hints-appear {
    0% {opacity: 0; transform: translateY(2em)}
    100% {opacity: 1; transform: none;}
}

@keyframes chat-appear {
    0% {opacity: 0; transform: translateY(2em)}
    100% {opacity: 1; transform: none;}
}

@keyframes hinting {
    0% {border: 10px solid #bbdefb}
    100% {border: 1px solid transparent}
}

.bob-container {
    .bob {
        .ask {
            min-height: 10px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: end;
            width: 100%;
            
            .old-chats {
                display: block;
                position: relative;
                box-sizing: border-box;
                padding: 0.5em 0.4em;
                height: 100%;
                margin: 0 0.15em;
                overflow-y: overlay;
                scrollbar-color: rgb(209, 209, 209) transparent;;
                scrollbar-width: 5px;
                &::-webkit-scrollbar {
                    width: 0.25em;
                }
                &::-webkit-scrollbar-track {
                    background: transparent !important;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgb(209, 209, 209);
                    border-radius: 10px;
                }
                &::-webkit-scrollbar-thumb:hover {
                    background: #6b6b6b;
                }   
                .is-typing {
                    float: right;
                    box-sizing: border-box;
                    padding: 0 1.5em;
                }
                
                .chat-segment {
                    position: relative;
                    margin: 0em 0 1em 0;
                    display: flex;
                    flex-direction: row;
                    .user {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    .content {
                        max-width: calc(100% - 1em);
                    }
                    .chat, .rating, .related-questions {
                        position: relative;
                        box-sizing: border-box;
                        margin: 0em 0;
                        span {
                            border: 1px solid transparent;
                            padding: 0.35em 1em;
                            border-radius: 0.25em;
                            font-size: 0.8em;
                            max-width: 75%;
                            overflow-wrap: break-word;
                            transition: all 0.25s cubic-bezier(0, 0, 0.2, 1);
                            line-height: 1.25;
                            animation: chat-appear 0.25s cubic-bezier(0, 0, 0.2, 1);
                        }
                        .text {
                            display: inline-block;
                            svg {
                                height: 1em;
                                width: 1em;
                                vertical-align: middle;
                                margin-right: 0.25em;
                            }
                            &:hover + .time {
                                display: block;
                            }
                        }
                        .time {
                            position: absolute;
                            top: -2.8em;
                            display: none;
                            border-radius: 0.25em;
                            border-color: lightgrey;
                            color: whitesmoke;
                            background: #424242;
                        }
                    }
                    .answer {
                        width: 105%;
                        position: relative;
                        margin: 0.5em 0;
                        transform: translateX(-1.2em);
                        box-sizing: border-box;
                        padding: 0.5em 1.5em 0.5em 0.8em;
                        border-radius: 0.35em;
                        font-size: 0.8em;
                        transition: 0.25s all cubic-bezier(0, 0, 0.2, 1);
                        background: #ffd600;
                        color: #181515;
                        border: 1px solid transparent;
                        box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
                        p {
                            margin: 0.2em 0;
                        }
                        pre {
                            margin: 0.2em 0;
                        }
                        &:hover {
                            box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132), 0 1.2px 3.6px 0 rgba(0,0,0,.108);
                        }
                        &.foc {
                            background: #FEBE17;
                            box-shadow: none;
                            border: 1px solid rgb(230, 230, 230);
                        }
                        .answer-text {
                            display: block;
                            box-sizing: border-box;
                            line-height: 1.2;
                            white-space: pre-wrap;
                            overflow-wrap: break-word;
                            max-width: 100%;
                        }
                        .click-url {
                            position: absolute;
                            right: 0.5em;
                            bottom: 0.2em;
                            display: inline-block;
                            margin: 0.2em 0 auto auto;
                            min-width: 0;
                            padding: 0.2em;
                            box-shadow: none;
                            text-transform: none;
                            font-family: 'Nunito', sans-serif;
                            letter-spacing: 0;
                            color: #2979ff;
                        }
                        .help-info-enter {
                            opacity: 0;
                            transform: translateY(4em);
                        }

                        .help-info-enter-active {
                            opacity: 1;
                            transform: none;
                            transition: 0.25s all cubic-bezier(0, 0, 0.2, 1);
                        }

                        .help-info-exit {
                            opacity: 1;
                            transform: none;
                        }

                        .help-info-exit-active {
                            opacity: 0;
                            transform: translateY(4em);
                            transition: 0.25s all cubic-bezier(0, 0, 0.2, 1);
                        }

                        .help-info {
                            position: absolute;
                            top: -3em;
                            right: 50%;
                            transform: translateX(50%);
                            box-sizing: border-box;
                            color: whitesmoke;
                            background: #43a047;
                            border-radius: 0.5em;
                            padding: 1em;
                            box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
                            &:after {
                                content: '';
                                position: absolute;
                                bottom: -0.5em;
                                left: 50%;
                                transform: translateX(-50%);
                                border-top: 0.5em solid #43a047;
                                border-right: 0.8em solid transparent;
                                border-left: 0.8em solid transparent;
                            }
                        }
                        .taskbar {
                            position: absolute;
                            right: 0em;
                            top: 0em;
                            width: 100%;
                            text-align: right;
                            .pin, .pinned {
                                min-width: 0;
                                padding: 0.2em;
                                margin: 0.2em 0.2em;
                                border-radius: 50%;
                                background: #fff8e1;
                                svg {
                                    width: 1.2em;
                                    height: 1.2em;
                                }
                                &.pin {
                                    background: white;
                                    svg {
                                        filter: grayscale(100%);
                                    }
                                }
                            }
                        }
                        &.pinned {
                            background: #fffde7;
                            &:hover {
                                background: #fffde7;
                            }
                        }
                    }
                    .rating {
                        overflow-wrap: break-word;
                        .rating-stars {
                            display: inline-block;
                            padding: 0;
                        }
                        i {
                            vertical-align: middle;
                            padding: 0.05em;
                            margin: 0.05em;
                            color: #424242;
                            svg {
                                font-size: 1.5em;
                            }
                            &.off {
                                opacity: 0.5;
                            }
                            &.on {
                                opacity: 1;
                                color: #388e3c;
                            }
                        }
                    }
                    &.me {
                        .chat {
                            .text {
                                background: #2962ff;
                                color: whitesmoke;
                                border-bottom-right-radius: 1.2em;
                                border-top-right-radius: 1.2em;  
                                margin-bottom: 0.5em;
                            }
                            &:first-child {
                                .text {
                                    border-top-left-radius: 1.2em;
                                }
                            }
                            &:last-child {
                                .text {
                                    border-bottom-left-radius: 1.2em;
                                    
                                }
                            }
                        } 
                    }
                    &:not(.me) {
                        position: relative;
                        display: flex;
                        flex-direction: row-reverse;
                        .user {
                            position: absolute;
                            top: -1.5em;
                            right: 0em;
                            color:#424242;
                            width: 100%;
                            text-align: right;
                            
                            span {
                                vertical-align: middle;
                                font-size: 0.7em;
                                margin: 0 0.5em;
                                opacity: 0.5;
                            }
                            svg {
                                vertical-align: middle;
                                height: 1.2em;
                                width: 1.2em;
                                padding: 0;
                                opacity: 0.7;
                            }
                        }
                        .chat, .rating, .related-questions {
                            text-align: right;
                            .text {
                                background: inherit;
                                //border: 1px solid lightgrey;
                                border-bottom-left-radius: 1.2em;
                                border-top-left-radius: 1.2em;
                                background: whitesmoke;
                                color: black;
                                font-weight: 600;
                                margin: 0.15em 0;
                            }
                            .time {
                                right: 0;
                            }
                            .rel {
                                background: rgb(250, 250, 250);
                            }
                            .rel-q {
                                .text {
                                    border-radius: 1.2em;
                                    line-height: 1.25;
                                    font-size: 0.8em;
                                    box-shadow: none;
                                    background: transparent;
                                    color: #3e2723;
                                    border: 1px solid rgb(231, 231, 231);
                                    border-radius: 0.5em;
                                    border-top-right-radius: 0.5em;
                                    border-bottom-right-radius: 0.5em !important;
                                    transition: 0.2s all cubic-bezier(0, 0, 0.2, 1);
                                    &:hover {
                                        background: #768fff;
                                    }
                                    a {
                                        color: #424242;
                                    }
                                }
                                svg {
                                    margin: 0 0.2em;
                                    width: 0.8em;
                                    height: 0.8em;
                                }
                                
                            }
                            &:first-child {
                                .text {
                                    border-top-right-radius: 1.2em;
                                }
                            }
                            &:last-child {
                                .text {
                                    border-bottom-right-radius: 1.2em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}