@keyframes msg-appear {
    0% {opacity: 0; transform: scale(1.2)}
    100% {opacity: 1; transform: scale(1)}
}

@keyframes msg-disappear {
    0% {opacity: 1}
    100% {opacity: 0}
}

@keyframes appear {
    0% {opcaity: 0; transform: translateX(10em)}
    100% {opacity: 1; transform: none;}
}

.bob-container {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-right: 4.5em;
    box-sizing: border-box;
    margin-right: 0;
    transition: 0.25s all cubic-bezier(0, 0, 0.2, 1);
    min-height: 3em;
    .bob-ava {
        position: absolute;
        right: 0;
        bottom: 0;
        box-sizing: border-box;
        padding: 0;
        border-radius: 50%;
        background: linear-gradient(to bottom, #448aff 0%, #2962ff 100%);
        box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
        border: 1px solid lightgrey;
        svg {
            z-index: 4;
            display: block;
            height: 3.6em;
            width: 3.6em;
        }
        .notif-res {
            position: absolute;
            top: -0.2em;
            display: block;
            left: 0;
            width:1em;
            height: 1em;
            border-radius: 0.5em;
            background: #f44336;
            
        }
    }
    .bob {
        position: relative;
        margin-bottom: 0.25em;
        width: 300px;
        height: 540px;
        box-shadow: 0 25.6px 57.6px 0 rgba(0,0,0,.22), 0 4.8px 14.4px 0 rgba(0,0,0,.18);
        box-sizing: border-box;
        padding: 0 0 0;
        border-radius: 0.8em;
        background: white;
        font-family: 'Nunito', sans-serif;
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
        justify-content: end;
        &.bob-enter {
            opacity: 0;
            transform: scale(0.75);
            transform-origin: bottom right;
        }
        &.bob-enter-active {
            opacity: 1;
            transform: scale(1);
            transition: 250ms all cubic-bezier(0, 0, 0.2, 1);
        }
        &.bob-exit {
            opacity: 1;
            transform-origin: bottom right;
        }
        &.bob-exit-active {
            opacity: 0;
            transform: scale(0.75);
            transition: 250ms all cubic-bezier(0, 0, 0.2, 1);
        }

        .instant-answer {
            position: absolute;
            bottom: 4em;
            right: -2em;
            line-height: 1.25;
            text-align: right;
            font-size: 0.85em;
            span {
                display: block;
                box-sizing: border-box;
                padding: 0.5em 1em;
                border-radius: 0.8em;
                width: 400px;
            }
            .msg {
                color: #424242;
                font-weight: 600;
                background: white;
                width: 300px;
                box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132), 0 1.2px 3.6px 0 rgba(0,0,0,.108);
                animation: 0.25s msg-appear 0s 1,
                    1s msg-disappear 7s 1;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -0.5em;
                    right: 1em;
                    border-right: 0.2em solid transparent;
                    border-left: 1.2em solid transparent;
                    border-top: 0.5em solid white;
                }
            }
        }
        &:not(.minimal) {
            &:after {
                content: '';
                position: absolute;
                bottom: 1.5em;
                right: -0.6em;
                border-top: 1.2em solid transparent;
                border-bottom: 0.3em solid transparent;
                border-left: 0.6em solid #f2f2f2;
            }
        }
    }
    .bob-onboard-msg-enter {
        opacity: 0;
        transform: scale(0);
        transform-origin: bottom right;
        transition: all 0.2s cubic-bezier(0, 0, 0.4, 1);
    }
    .bob-onboard-msg-enter-active {
        opacity: 1;
        transform: scale(1);
        transform-origin: bottom right;
    }
    .bob-onboard-msg-exit {
        opacity: 1;
        transform: scale(1);
        transform-origin: bottom right;
        transition: all 0.2s cubic-bezier(0, 0, 0.4, 1);
    }
    .bob-onboard-msg-exit-active {
        opacity: 0;
        transform: scale(0);
        transform-origin: bottom right;
    }
    .bob-onboard-msg {
        position: absolute;
        z-index: 1000;
        bottom: 1.25em;
        right: 3.9em;
        display: inline-block;
        box-sizing: border-box;
        background: white;
        border: 1px solid lightgrey;
        width: 300px;
        padding: 0.5em;
        border-top-left-radius: 0.8em;
        border-top-right-radius: 0.8em;
        border-bottom-left-radius: 0.8em;
        border-bottom-right-radius: 0.2em;
        text-align: right;
    }
}