.bob {
    .history-bookmarks {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        //box-sizing: border-box;
        padding: 0.5em 0.4em;
        overflow-y: scroll;
        scrollbar-color: rgb(209, 209, 209) transparent;
        scrollbar-width: thin;
        margin: 0.15em;
        &::-webkit-scrollbar {
            width: 0.25em;
        }
        &::-webkit-scrollbar-track {
            background: transparent !important;
        }
        &::-webkit-scrollbar-thumb {
            background: rgb(209, 209, 209);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #6b6b6b;
        }   
        .discussions {
            position: relative;
            word-wrap: break-word;
            margin-bottom: 0em;
            line-height: 1.2;
            &::-webkit-scrollbar {
                display: none;
            }
            h4 {
                display: block;
                overflow-wrap: break-word;
                margin: 0.25em 0;
                font-size: 0.8em;
                font-weight: 600;
                color: #424242;
                svg {
                    height: 1em;
                    width: 1em;
                    vertical-align: middle;
                    margin-left: 0.5em;
                }
                .expand {
                    margin-left: 0em;
                    margin-right: 0.75em;
                    transition: 0.2s all cubic-bezier(0,0,0.2,1);
                    transform: rotate(-90deg);
                    &.on {
                        transform: none;
                    }
                }
            }
            .question-request {
                border: 1px solid rgb(224, 224, 224);
                padding: 0.5em 0.5em;
                border-radius: 0.5em;
                margin-top: 0.25em;
                margin-bottom: 0.25em;
                background: white;
                font: {
                    family: 'Roboto', sans-serif;
                    size: 0.8em;
                }
                .discuss {
                    margin-top: 0.15em;
                    margin-bottom: 0.15em;
                    
                    span {
                        margin: 0.2em;
                    }
                }
            }
        }
        
    }
}