.bob {
    .history-bookmarks {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        //box-sizing: border-box;
        padding: 0.5em 0.4em;
        overflow-y: scroll;
        scrollbar-color: rgb(209, 209, 209) transparent;
        scrollbar-width: 0.25em;
        margin: 0.15em;
        &::-webkit-scrollbar {
            width: 0.25em;
        }
        &::-webkit-scrollbar-track {
            background: transparent !important;
        }
        &::-webkit-scrollbar-thumb {
            background: rgb(209, 209, 209);
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #6b6b6b;
        }   
        .bob-bookmarks {
            position: relative;
            word-wrap: break-word;
            margin-bottom: 0em;
            line-height: 1.2;
            border-bottom: 1px solid rgb(231, 231, 231);
            &::-webkit-scrollbar {
                display: none;
            }
            h4 {
                display: block;
                overflow-wrap: break-word;
                margin: 0.25em 0;
                font-size: 0.8em;
                font-weight: 600;
                color: #424242;
                svg {
                    height: 1em;
                    width: 1em;
                    vertical-align: middle;
                    margin-left: 0.5em;
                }
                .expand {
                    margin-left: 0em;
                    margin-right: 0.75em;
                    transition: 0.2s all cubic-bezier(0,0,0.2,1);
                    transform: rotate(-90deg);
                    &.on {
                        transform: none;
                    }
                }
            }
            .old-bookmark {
                max-height: 200px;
                overflow-y: scroll;
                box-sizing: border-box;
                margin-left: 0.35em;
                border-left: 2px solid lightgrey;
                margin-bottom: 0.5em;
                color: #424242;
                &::-webkit-scrollbar {
                    display: none;
                }
                span {
                    position: relative;
                    display: inline-block;
                    font-size: 0.8em;
                    line-height: 1.2;
                    box-sizing: border-box;
                    padding: 0.25em 0.5em;
                    border-radius: 1em;
                    overflow-wrap: break-word;
                    color: #424242;
                }
                .q_ {
                    font-weight: 600;
                }
            }
        }
        .bob-history {
            position: relative;
            word-wrap: break-word;
            box-sizing: border-box;
            &::-webkit-scrollbar {
                display: none;
            }
            h4 {
                display: block;
                overflow-wrap: break-word;
                margin: 0.25em 0;
                font-size: 0.8em;
                font-weight: 600;
                color: #424242;
                svg {
                    height: 1em;
                    width: 1em;
                    vertical-align: middle;
                    margin-left: 0.5em;
                }
                .expand {
                    margin-left: 0em;
                    margin-right: 0.75em;
                    transition: 0.2s all cubic-bezier(0, 0, 0.2, 1);
                    transform: rotate(-90deg);
                    &.on {
                        transform: none;
                    }
                }
            }
            .question-request {
                box-sizing: border-box;
                padding: 0.5em 1.5em;
                font-size: 0.7em;
                margin: 0.35em;
                box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
                border-radius: 0.5em;
                white-space: pre-line;
                span {
                    display: block;
                }
                .timestamp {
                    text-align: center;
                    font-weight: 700;
                    border-bottom: 1px solid lightgrey;
                }
                .status {
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 0.2em 0.5em;
                    font-weight: 700;
                    border-radius: 0.5em;
                }
            }
            .old-question {
                position: relative;
                line-height: 1.2;
                margin-top: 0.25em;
                margin-left: 0.35em;
                border-left: 2px solid lightgrey;
                span {
                    position: relative;
                    display: inline-block;
                    font-size: 0.8em;
                    line-height: 1.2;
                    box-sizing: border-box;
                    padding: 0.25em 0.5em;
                    border-radius: 1em;
                    overflow-wrap: break-word;
                    color: #424242;
                    &.time {
                        position: absolute;
                        top: -1.5em;
                        right: 50%;
                        transform: translateX(50%);
                        color: grey;
                        font-weight: 600;
                        font-size: 0.65em;
                        border-radius: 0.5em;
                        background: white;
                        border: 1px solid rgb(231, 231, 231);
                    }
                    &.old-q {
                        font-weight: 600;
                    }
                }
                .ans {
                    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
                    overflow-y: scroll;
                    overflow-wrap: break-word;
                    max-width: 100%;
                    box-sizing: border-box;
                    padding: 0.1em 0;
                    border-radius: 0.25em;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    .title {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}