.bob {
    .bob-menu {
        position: relative;
        top: 0em;
        margin: 0;
        width: 100%;
        right: 0;
        box-sizing: border-box;
        padding: 0.5em 0.5em;
        border-radius: 0.8em;
        //border-top-left-radius: 0.8em;
        //border-top-right-radius: 0.8em;
        .bob-menu-options {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            box-sizing: border-box;
            padding: 0 0.5em;
        }
        .user-info {
            width: 250px;
            position: absolute;
            bottom: 0em;
            transform: translateY(100%);
            left: 0.5em;
            border-radius: 0.5em;
            z-index: 100;
            overflow: hidden;
            background: white;
            border: 1px solid lightgrey;
            box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
            button {
                border-radius: 0.2em;
                padding: 0.2em;
            }
        }
        button {
            position: relative;
            color: #bdbdbd;
            min-width: 0;
            padding: 0.5em;
            border-radius: 1.5em;
            transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
            margin: auto 0.15em;
            animation: none;
            svg {
                height: 1.8em ;
                width: 1.8em ;
                stroke-width: 1px;
                stroke: #424242;
                //fill: #424242;
                
            }
            &.focus {
                opacity: 1;
                color: #004ecb;
                svg {
                    filter: drop-shadow(0.05rem 0.05rem 0.1rem rgba(0, 0, 0,0.4));
                }
                .help-box {
                    color: #808080;
                }
            }
            &:hover {
                .help-box {
                    display: block;
                }
            }
            &.user-profile {
                position: relative;
            }
            .help-box {
                display: none;
                position: absolute;
                bottom: -2em;
                right: 50%;
                transform: translateX(50%);
                font-family: 'Nunito', sans-serif;
                text-transform: none;
                letter-spacing: unset;
                width: 100px;
                background: white;
                color: #808080;
                border-radius: 0.8em;
                border: 1px solid rgb(231, 231, 231);
                font-weight: 600;
                z-index: 100;
            }
        }
        .close {
            min-width: 0;
        }
    }
}