.bob {
    .bob-menu {
        position: relative;
        top: 0em;
        margin: 0;
        //width: 100%;
        right: 0;
        box-sizing: border-box;
        .bob-menu-options {
            //background: white;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            box-sizing: border-box;
            padding: 0.5em;
        }
        button {
            position: relative;
            color: #9e9ea7;
            min-width: 0;
            padding: 0.5em;
            border-radius: 2em;
            transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
            margin: auto 0.15em;
            animation: none;
            svg {
                height: 1.2em ;
                width: 1.2em ;
                stroke: rgb(90, 90, 90);
                stroke-width: 1px;
            }
            &.focus {                
                opacity: 1;   
                background: rgb(241, 239, 248);          
                svg {
                    //filter: drop-shadow(0.05rem 0.05rem 0.1rem rgba(0, 0, 0,0.4));
                    stroke: white;
                    fill: rgb(67, 44, 151);
                }
                .help-box {
                    color: #808080;
                }
            }
            &:hover {
                .help-box {
                    display: block;
                }
            }
            &.user-profile {
                position: relative;
            }
            .help-box {
                display: none;
                position: absolute;
                bottom: -2em;
                right: 50%;
                transform: translateX(50%);
                font-family: 'Nunito', sans-serif;
                text-transform: none;
                letter-spacing: unset;
                width: 100px;
                background: white;
                color: #808080;
                border-radius: 0.8em;
                border: 1px solid rgb(231, 231, 231);
                font-weight: 600;
                z-index: 100;
            }
        }
        .close {
            min-width: 0;
        }
    }
}