.bob-container {
    .bob {
        .ask {
            .new-chat {
                position: relative;
                right: 0;
                display: flex;
                flex-direction: row;
                box-sizing: border-box;
                padding: 0.5em 1em;
                background: transparent;
                justify-content: space-between;
                border-radius: 1.5em;
                transition: 0.25s all cubic-bezier(0, 0, 0.2, 1);
                border: none;
                &:after {
                    content: '';
                    position: absolute;
                    top: 0em;
                    right: 5%;
                    background: lightgrey;
                    width: 90%;
                    height: 1px;
                }
                textarea {
                    position: relative;
                    margin: 0 0.3em;
                    display: block;
                    width: 85%;
                    box-sizing: border-box;
                    padding: 0.5em 0.25em;
                    outline: none;
                    background: inherit;
                    font: {
                        family: 'Nunito', sans-serif;
                        size: 0.8em;
                    }
                    resize: unset;
                    border: none;
                    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
                    line-height: 1.6;
                }
                button {
                    position: relative;
                    bottom: 0;
                    min-width: 0;
                    border-radius: 50%;
                    
                    display: block;
                    margin: auto 0;
                    padding: 0.5em;
                    animation: none;
                    span {
                        display: block;
                    }
                    svg {
                        display: block;
                        margin: auto;
                        height: 1.5em;
                        width: 1.5em;
                        filter: drop-shadow(0.05rem 0.05rem 0.1rem rgba(0, 0, 0,0.4));
                        animation: none;
                        path {
                            fill: #424242;
                        }
                    }
                    &.show-hints {
                        //background: #bbdefb;
                        position: relative;
                        transition: 0.35s all cubic-bezier(0, 0, 0.2, 1);
        
                        &.not-show {
                            background: white;
                            img {
                                filter: grayscale(100%);
                            }
                        }
                        &.hinting {
                            //background: linear-gradient()
                            background: #bbdefb
                            
                        }
                    }
                }
                .question-hints {
                    position: absolute;
                    z-index: 10;
                    bottom: 3.6em;
                    width: 90%;
                    left: 5%;
                    
                    background: white;
                    box-shadow: 0 25.6px 57.6px 0 rgba(0,0,0,.22), 0 4.8px 14.4px 0 rgba(0,0,0,.18);
                    box-sizing: border-box;
                    padding: 0.5em 0.5em;
                    border-radius: 0.35em;
                    animation: hints-appear 0.35s cubic-bezier(0, 0, 0.2, 1);
                    transition: 0.2s all cubic-bezier(0, 0, 0.2, 1);
                    .hint {
                        font-size: 0.7em;
                        line-height: 1.5;
                        box-sizing: border-box;
                        padding: 0.2em 0.5em;
                        border-radius: 0.5em;
                        border:1px solid transparent;
                        transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
                        span {
                            //display: inline-block;
                            //box-sizing: border-box;
                            padding: 0.2em;
                            &.similarity-score {
                                color: #00c853;
                            }
                        }
                        &.focus {
                            background: #e3f2fd;
                            color: #2962ff;
                        }
                        &.auto-complete {
                            border:1px solid lightgrey;
                        }
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        left: 1em;
                        width: 0;
                        height: 0;
                        bottom: -0.6em;
                        border-left: solid 0.25em transparent;
                        border-right: solid 1.5em transparent;
                        border-top: solid 0.6em white;
                        //box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132), 0 1.2px 3.6px 0 rgba(0,0,0,.108);
                    }
                }
            }
        }
    }
}