.markdown-render {
    position: relative;
    word-wrap: break-word;
    transition: all 0.2s;
    img {
        margin: auto;
        max-width: 100%;
    }
    
    hr {
        display: none;
    }
    h2 {
        font-size: 1em;
        margin: 0.5em auto;
    }
    pre {
        padding: 0.5em !important;
        border-radius: 0.5em;
        overflow-wrap: break-word;
        white-space: pre-line;
    }
    p {
        overflow-wrap: break-word;
        white-space: unset;
    }
}