.auth {
    width: 100%;
    box-sizing: border-box;
    background: white;
    padding: 0.5em;
    
    .auth-line {
        display: flex;
        background: white;
        flex-direction: row;
        text-align: center;
        input {
            display: block;
            margin: auto;
        }
        i {
            display: inline-block;
            font-size: 1.2em;
            padding: 0.8em 0.8em 0.2em;
        }
        .MuiFormControl-root {
            label, span, input {
                font-size: 0.7em;
            }
            .focused {
                color: black;
            }
        }
    }
    button {
        box-sizing: border-box;
        padding: 0.25em 0.5em;
        border-radius: unset;
        font-size: 0.6em;
        letter-spacing: 0px;
        margin: 0.5em auto;
        min-width: 0;
        font-family: 'Nunito', sans-serif;
        text-transform: none;
        letter-spacing: unset;
        display: block;
    }
}

.user-panel {
    background: white;
    box-sizing: border-box;
    padding: 0.5em;
    text-align: center;
    span {
        box-sizing: border-box;
        display: inline-block;
        font-size: 0.7em;
        font-family: 'Nunito';
        font-weight: 600;
        margin: 0.2em 0.5em;
        color: #424242;
    }
    .ava {
        height: 2em;
        width: 2em;
        text-align: center;
        line-height: normal;
        border-radius: 50%;
        color: whitesmoke;
        font-size: 0.7em;
        font-weight: 400;
        padding: 0.3em 0 0;
        display: block;
        margin: auto;
    }
    button {
        i {
            font-size: 1.5em;
        }
    }
    
}